h1 {
    color: cornsilk;
    text-align: center;
}
h2 {
    text-align: center;
}
.box {
    background: blue;
    height: 200px;
    width: 300px;
    padding: 200px;
}

.box-dua {
    background: black;
    height: 100px;
    width: 200px;
    padding-left: 70px;
}